@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #000000;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.ui {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Press Start 2P', cursive;
}

@keyframes game-over-anim {
  from {
    opacity: 0.0;
  }
  to {
    opacity: 1.0;
  }
}

.game-over-layout {
  opacity: 0.0;
  /* opacity: 1; */

  visibility: hidden;
  /* visibility: visible; */
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.game-over-layout.active {
  opacity: 1.0;
  visibility: visible;
  transition: opacity 0.5s ease-in-out;
}

.game-over-layout a {
  pointer-events: auto;
}

.game-over-text {
  font-size: 5rem;
  color: white;
  text-shadow: 8px 8px black;
  text-align: center;
}

.game-over-text span {
  font-size: 2rem;
}

.score-text {
  font-size: 3em;
  color: white;
  padding: 2em;
  text-shadow: 5px 5px black;
}

.score-layout {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.game-menu-layout {
  visibility: visible;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  /* background: #dddddd; */
}

.game-menu-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.game-menu-window > img {
  width: 64px;
  height: 64px;
  padding-top: 100px;
  image-rendering: pixelated;
}

.game-menu-window > h1 {
  font-size: 3em;
  line-height: 1.25em;
  font-weight: 500;
  color: rgb(32, 33, 36);
}

.game-menu-window > p, li {
  margin: 0;
  font-size: 1em;
  line-height: 1.55em;
  color: rgb(95, 99, 104);
}

.game-menu-window > #error {
  margin: 0;
  font-size: 0.8em;
  line-height: 1.55em;
  color: rgb(95, 99, 104);
  margin-top: 12px;
}

.sentence li {
  margin-left: auto;
  margin-right: auto;
  list-style-type:none;
}

span {
  color: rgb(22 163 74);
}

.tutorial {
  background: #ffffff;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
  overflow: hidden;
  filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
}

#space {
  padding-right: 5.4rem;
}

.tutorial img {
  position:absolute;
}

#up {
  right:6.7rem;
  top:1.2rem;
}

#or {
  color: black;
  position:absolute;
  right:8.7rem;
}